# Lists [ ]

In [4]:
Zeros=[0]*10
print(Zeros)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
n=list(range(20))
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
chars=list("Hello World")
print(chars)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [7]:
letters=["a","b","c","d"]
letters[0]="A"
print(letters[:3])

['A', 'b', 'c']

In [8]:
print(letters[::2])

['A', 'c']

In [9]:
Nums=list(range(20))
print(Nums[::2])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
Nums=list(range(20))
print(Nums[::-1])

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## List Unpacking
- No of variables on left = Numbers Of Items In List

In [11]:
Nums=list(range(1,11))
print(Nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
a,b,c,d,e,f=Nums
print(a,b,c,d,e,f)

ValueError: too many values to unpack (expected 6)

* We Use * In this case

In [ ]:
a,b,c,d,e,f,*Rest=Nums
print(a,b,c,d,e,f)
print("--------------")
print(f"Rest = {Rest}")

1 2 3 4 5 6
--------------
Rest = [7, 8, 9, 10]

In [ ]:
Numbers=[1,2,3,4,5,6]
first,*middle,last=Numbers
print(first , last)

1 6

In [ ]:
letters=["a","b","c","d"]
for letter in letters:
    print(letter)

a
b
c
d

* Using Enemurate To Get Indexes

In [ ]:
for index,letter in enumerate(letters):
    print(index,letter)

0 a
1 b
2 c
3 d

In [ ]:
print(letters)

['a', 'b', 'c', 'd']

In [ ]:
letters.append("e")
print(letters)

['a', 'b', 'c', 'd', 'e']

* Pop() Removes Last Element

In [ ]:
letters.pop()  
print(letters)

['A', 'b', 'c', 'd', 'e']

* insert() adds Element at given index

In [ ]:
letters.insert(5,"e")
print(letters)

['A', 'b', 'c', 'd', 'e', 'e']

* remove() is used to remove first occurance of element

In [ ]:
letters.append("e")
print(letters)

['A', 'b', 'c', 'd', 'e']

* count() used to find count of that element in list

In [ ]:
a=letters.count("e")
print(a)

1

In [ ]:
letters.remove("e")
print(letters)

['a', 'b', 'c', 'd', 'e']

* del is used to delete range of items

In [ ]:
print(letters)
del letters[2:5]
print(letters)

['A', 'b', 'c', 'd']
['A', 'b']

* Clear() is used to empty list

In [ ]:

letters.clear()
print(letters)

[]

In [1]:
numbs=[4,6,3,7,4,78,3,33,787,33]

* sort() for sorting in asc order and reverse=True For Dec

In [ ]:
numbs.sort()
print(numbs)

[3, 3, 4, 4, 6, 7, 33, 33, 78, 787]

In [ ]:
numbs.sort(reverse=True)
print(numbs)

[787, 78, 33, 33, 7, 6, 4, 4, 3, 3]

* Build In Function Sorted(Listname)
* It wont chnage original list

In [ ]:

print(sorted(numbs))
print(numbs)

[3, 3, 4, 4, 6, 7, 33, 33, 78, 787]
[787, 78, 33, 33, 7, 6, 4, 4, 3, 3]

* Sorting a list of list

In [ ]:
people = [("Alice", 25), ("Bob", 30), ("Charlie", 20)]
#Lets sort according to age
print("sorting according to age")
people.sort(key=lambda x:x[1])
print(people)

sorting according to age
[('Charlie', 20), ('Alice', 25), ('Bob', 30)]

In [ ]:
items=[
    ("Product 1",10),
    ("Product 2",9),
    ("Product 3",12),
]

* Using Map() And Lambda()

In [ ]:
prices=list(map(lambda x:x[1],items))
print(prices)

[10, 9, 12]

* filter()

In [ ]:
Price=list(filter(lambda x : x[1] >= 10,items))
print(Price)

[('Product 1', 10), ('Product 3', 12)]

* Comprehension

In [ ]:
#Printing Even Numbers

Nums=list(range(1,21))
print(Nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
Even= [x for x in Nums if x%2==0]
print(Even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
Prices= [item for item in items if item[1] >= 10]
Prices

[('Product 1', 10), ('Product 3', 12)]

* zip() Combines two lists based on Index

In [ ]:
Names=["Harish","Suraj","Patha"]
Age=[25,22,19]

Result=list(zip(Names,Age))
print(Result)

[('Harish', 25), ('Suraj', 22), ('Patha', 19)]

# Queue

In [ ]:

from collections import deque

queue=deque()
queue.append(1)
queue.append(2)
queue.append(3)
queue.append(4)
print(queue)

deque([1, 2, 3, 4])

In [ ]:
queue.popleft()
print(queue)

deque([2, 3, 4])

# Sets

* Unordered Items And No Duplicates

In [ ]:
number=[1,2,3,4,3,1,5]
first=set(number)
second={7,8,1}

Union=first | second
print(Union)

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
Intersection= first & second
print(Intersection)

{1}

In [ ]:
print(first-second)

{2, 3, 4, 5}

In [ ]:
print(first^second)

{2, 3, 4, 5, 7, 8}

### Dictionaries

* Key Value
* {}

In [13]:
point={"X":1,"Y":2}
points=dict(x=1,y=2,z=3)
print(f" Point : {point}")
print(f" Points : {points}")

 Point : {'X': 1, 'Y': 2}
 Points : {'x': 1, 'y': 2, 'z': 3}

In [14]:
point["z"]=10
print(point)

{'X': 1, 'Y': 2, 'z': 10}

* get() To Get value if exists else none or value specified

In [20]:
print(point.get("a"))

print(point.get("w",11))

print(point.setdefault("w",14))

print(point)

None
14
14
{'X': 1, 'Y': 2, 'z': 10, 'w': 14}

In [23]:
for key,values in point.items():
    print(f"Variable : {key} And Value : {values}")

Variable : X And Value : 1
Variable : Y And Value : 2
Variable : z And Value : 10
Variable : w And Value : 14

#### Dictionary Comprehension

In [27]:
values={x:x * 2 for x in range(5)}
print(values)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

## Generator 

* It Uses Less Memory
* Computes While Going
* cant reuse it 
  - suppose we run for loop using list we can run loop many times but in case of gen obj , it forgets after loop is done.

In [28]:
import sys

my_list = [x for x in range(1000000)]
my_gen = (x for x in range(1000000))

print(sys.getsizeof(my_list))  # Large
print(sys.getsizeof(my_gen))   # Very small

8448728
192

In [29]:
a = [1, 2]
b = [3, 4]
combined = [a+b]
print(combined)

[[1, 2, 3, 4]]

In [31]:
def add(x,y):
    x+y
    print("Sum Is : ",x+y)
add(5,5)

Sum Is :  10

#### Unpacking Operator

* Used to unpack items in list 
   - List=[1,2,3]
   - *List 
* If we use ** It unpacks Dictionary

In [34]:
list=[15,5]
add(*list)

Sum Is :  20

In [48]:
sentence=("Hello , This Is Harish. This Is To Count total words in the text. The aim is to find count of the most repeated words in the text.").lower()

Sentence=sentence.split()
print(Sentence)

['hello', ',', 'this', 'is', 'harish.', 'this', 'is', 'to', 'count', 'total', 'words', 'in', 'the', 'text.', 'the', 'aim', 'is', 'to', 'find', 'count', 'of', 'the', 'most', 'repeated', 'words', 'in', 'the', 'text.']

In [53]:
Dict={}
for i in Sentence:
    if i not in Dict:
        Dict[i] = 1
    else:
        Dict[i] += 1
print(Dict)


print("Sorte Dictionary")

Sorted_Dict=dict(sorted(Dict.items(),key=lambda x:x[1],reverse=True))
print(Sorted_Dict)

{'hello': 1, ',': 1, 'this': 2, 'is': 3, 'harish.': 1, 'to': 2, 'count': 2, 'total': 1, 'words': 2, 'in': 2, 'the': 4, 'text.': 2, 'aim': 1, 'find': 1, 'of': 1, 'most': 1, 'repeated': 1}
Sorte Dictionary
{'the': 4, 'is': 3, 'this': 2, 'to': 2, 'count': 2, 'words': 2, 'in': 2, 'text.': 2, 'hello': 1, ',': 1, 'harish.': 1, 'total': 1, 'aim': 1, 'find': 1, 'of': 1, 'most': 1, 'repeated': 1}

In [54]:
age= int(input((" Enter Your Age:")))

ValueError: invalid literal for int() with base 10: 'g'

## Exception

In [ ]:
try:
    age= int(input((" Enter Your Age:")))
except ValueError:
    print("You Didnt Enter A Valid Age")
else:
    print("No Exceptions Were Thrown")

You Didnt Enter A Valid Age

###  Python `try`-`except`-`else`-`finally` Clauses 

- **`try`**  
  Runs first. Contains the code that might raise an exception.

- **`except`**  
  Executes only **if an exception occurs** in the `try` block.

- **`else`**  
  Executes **only if the `try` block runs successfully** ( no error occurs).

- **`finally`**  
  Always runs — **whether an exception occurs or not**. Typically used for cleanup tasks like closing files.

In [57]:

try:
    age = int(input("Enter Your Age: "))
except ValueError:
    print("You Didn't Enter A Valid Age")
else:
    print("No Exceptions Were Thrown.")
    file = open("age.txt", "w")
    file.write(f"User age is: {age}")
finally:
    if file:
        file.close()
        print("File has been closed.")
    else:
        print("File was never opened.")

No Exceptions Were Thrown.
File has been closed.

In [8]:
nums=[-4, -1, 0, 3, 10]

s= [x*x for x in nums ]
s.sort()
print(s)

[0, 1, 9, 16, 100]